name: "CI"
on:
  - push
  - pull_request
run-name: "Build all YAML files"
jobs:
  get-relevant-configs:
    runs-on: ubuntu-24.04
    outputs:
      configs: ${{ steps.find_configs.outputs.all_configs }}
    steps:
      - uses: actions/checkout@v4
      - name: Find All Configs
        id: find_configs
        run: |
          echo "all_configs=$(
            jq -cn '$ARGS.positional' --args models/*/*.yaml site/*/*.yaml
          )" >> "${GITHUB_OUTPUT}"
  compile-config:
    needs: get-relevant-configs
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        config: ${{ fromJSON(needs.get-relevant-configs.outputs.configs) }}
    steps:
      - uses: actions/checkout@v4
      - if: >
          github.event_name == 'push'
          && github.ref == 'refs/heads/main'
          && startsWith(matrix.config, 'site/')
        uses: actions/checkout@v4
        with:
          repository: jackrosenthal/esphome-secrets
          token: ${{ secrets.ESPHOME_SECRETS_TOKEN }}
          path: esphome-secrets
      - run: |
          cfg=esphome-secrets/$(dirname "${{ matrix.config }}")/site_config.yaml
          if [[ -e "${cfg}" ]]; then
            ln -s "${cfg}" site_config.yaml
          else
            touch site_config.yaml
          fi
      - uses: astral-sh/setup-uv@v7
      - run: ESPHOME_DATA_DIR="${PWD}/.esphome" uv run esphome compile ${{ matrix.config }}
  validate-no-duplicate-ips:
    name: "Validate there are no duplicate IP addresses within each site"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v7
      - run: touch site_config.yaml
      - run: uv run scripts/validate_no_duplicate_ips.py
